alembic==1.4.3
aliyun-python-sdk-core==2.13.30
amqp==5.0.2
anyascii==0.1.7
apispec==4.0.0
apispec-webframeworks==0.5.2
asgiref==3.3.1
attrs==20.3.0
autobahn==20.12.3
bcrypt==3.2.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
blinker==1.4
celery==5.0.5
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
construct==2.5.3
crypto==1.4.1
cryptography==3.2.1
distro==1.5.0
Django==3.0.2
django-cors-headers==3.2.0
django-haystack==2.8.1
django-redis==4.12.1
dnspython==2.0.0
dwebsocket==0.5.12
email-validator==1.1.2
fake-useragent==0.1.11
faraday-plugins==1.3.0
filedepot==0.8.0
filteralchemy-fork==0.1.0
Flask==1.1.2
Flask-Classful==0.14.2
Flask-KVSession-fork==0.6.3
Flask-Login==0.5.0
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.4.4
future==0.18.2
html2text==2020.1.16
hyperlink==20.0.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jwt==1.1.0
kombu==5.0.2
lxml==4.6.2
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
mimerender==0.6.0
Naked==0.1.31
nplusone==1.0.0
pefile==2019.4.18
Pillow==8.0.1
prompt-toolkit==3.0.8
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
PyJWT==1.7.1
PyMySQL==0.10.1
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-editor==1.0.4
python-mimeparse==1.6.0
python-ptrace==0.9.7
pytz==2020.4
PyYAML==5.3.1
redis==3.3.11
requests==2.25.1
selenium==3.141.0
service-identity==18.1.0
shellescape==3.8.1
simplejson==3.17.2
simplekv==0.14.1
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.22
sqlparse==0.4.1
syslog-rfc5424-formatter==1.2.2
tqdm==4.54.1
txaio==20.12.1
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
webargs==7.0.1
Werkzeug==1.0.1
WTForms==2.3.3
xlwt==1.3.0
